:root {
  /* PRIMARY COLORS */
  --LimeGreen: hsl(163, 72%, 41%);
  --BrightRed: hsl(356, 69%, 56%);
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: hsl(329, 70%, 58%);
  --YouTube: hsl(348, 97%, 39%);

  /* LIGHT THEME */
  --LightTheme: hsl(230, 22%, 74%);
  --VeryPaleBlue: hsl(225, 100%, 98%);
  --LightGrayishBlue: hsl(227, 47%, 96%);
  --DarkGrayishBlue: hsl(228, 12%, 44%);

  /* DARK THEME */
  --DarkTheme: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
  --VeryDarkBlue: hsl(230, 17%, 14%);
  --VeryDarkBlueTop: hsl(232, 19%, 16%);
  --DarkDesaturatedBlue: hsl(228, 28%, 20%);
  --DesaturatedBlue: hsl(228, 34%, 66%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  background-color: var(--White);
  color: var(--DarkGrayishBlue);
}

.container {
  width: 100%;
  height: 100vh;
}

/* COMPONENTS */

.header {
  background-color: var(--VeryPaleBlue);
  width: 100%;
  border-radius: 0px 0px 20px 20px;
  line-height: 1.4;
}
.header-title {
  font-size: 1.5em;
}
.header-subtitle,
.theme-btn-container span {
  color: var(--DarkGrayishBlue);
  font-weight: 700;
}
.header-container {
  width: 75%;
  margin: 0 auto;
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 220px;
}
.header-information {
  width: 80%;
}

.overview {
  width: 75%;
  margin: 0 auto;
  position: relative;
  top: -100px;
}
.overview-social {
  display: grid;
  column-gap: 30px;
  row-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  color: var(--VeryDarkBlue);
}
.overview-social-card {
  background-color: var(--LightGrayishBlue);
  border-top: 4px solid transparent;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s background ease-in;
}
.overview-social-card:hover,
.overview-stats-card:hover {
  background-color: hsl(227, 43%, 92%);
}
.overview-social-card:last-child {
  margin-right: 0px;
}
.overview-social-card__icon {
  margin: 5px 0px 15px 0px;
}
.overview-social-card__icon img,
.overview-social-card__lead img {
  vertical-align: middle;
  margin-right: 5px;
}
.overview-social-card__followers {
  font-size: 3.5em;
  font-weight: 700;
  margin-bottom: 10px;
}
.overview-social-card__subtitle {
  color: var(--DarkGrayishBlue);
  font-size: 1.2em;
  letter-spacing: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.overview-social-card__lead {
  font-weight: 700;
  color: var(--LimeGreen);
}
.ytb .overview-social-card__lead {
  color: var(--BrightRed);
}

.fb {
  border-color: var(--Facebook);
}
.twitter {
  border-color: var(--Twitter);
}
.insta {
  border-color: var(--Instagram);
}
.ytb {
  border-color: var(--YouTube);
}

/* THEME MODE SWITCH */

.theme-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theme-btn-container span {
  margin-right: 10px;
}
.theme-btn {
  appearance: none;
  display: none;
}
.check {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  background-color: var(--LightTheme);
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in 0.5s;
  cursor: pointer;
}
.check::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: var(--LightGrayishBlue);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.5s;
}
.check::after {
  content: "";
  width: 16px;
  height: 16px;
  background-color: var(--DarkDesaturatedBlue);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 2px;
  transition: 0.5s;
  transform: translate(50px);
}
.theme-btn:checked ~ .check {
  background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
.theme-btn:checked ~ .check::before {
  transform: translate(-50px);
}
.theme-btn:checked ~ .check::after {
  transform: translate(0px);
}

/* OVERVIEW STATISTICS */
.overview-stats {
  margin: 40px 0px;
}
.overview-stats h2 {
  margin-bottom: 20px;
}
.overview-stats-card__top,
.overview-stats-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overview-stats-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 15px;
  color: var(--DarkGrayishBlue);
}
.overview-stats-card {
  background-color: var(--LightGrayishBlue);
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s background ease-in;
}
.overview-stats-card__top {
  margin-bottom: 20px;
}
.overview-stats-card__top div:first-child {
  font-size: 1.1em;
  font-weight: 700;
}
.overview-stats-card__bottom div:first-child {
  font-size: 2em;
  font-weight: 700;
  color: var(--VeryDarkBlue);
}
.overview-stats-card__bottom img {
  vertical-align: middle;
}

/* DARK THEME STYLE*/
body.dark {
  background-color: var(--VeryDarkBlue);
  color: var(--White);
}
body.dark .header {
  background-color: var(--VeryDarkBlueTop);
}
body.dark .header-subtitle,
body.dark .theme-btn-container span {
  color: var(--DesaturatedBlue);
}
body.dark .overview-social-card,
body.dark .overview-stats-card {
  background-color: var(--DarkDesaturatedBlue);
  color: var(--DesaturatedBlue);
}
body.dark .overview-stats-card__stats,
body.dark .overview-social-card__followers {
  color: var(--White);
}
/* RESPONSIVE DESIGN */

@media screen and (max-width: 1012px) {
  .container {
    height: auto;
  }
  .header-container {
    width: 85%;
    height: 200px;
  }
  .overview-social {
    grid-template-columns: repeat(2, 1fr);
  }
  .overview {
    width: 85%;
    top: -50px;
  }
  .overview-stats-list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 10px;
  }
}

@media screen and (max-width: 800px) {
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .header-information,
  .theme-btn-container {
    width: 100%;
  }
  .header-information {
    padding-bottom: 15px;
  }
  .theme-btn-container {
    border-top: 2px solid #999;
    padding-top: 15px;
  }
}

@media screen and (max-width: 600px) {
  .overview,
  .header-container {
    width: 90%;
  }
  .overview-stats-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 10px;
  }
}

@media screen and (max-width: 450px) {
  .header-container {
    height: 250px;
  }
  .overview {
    top: -90px;
  }
  .overview-social {
    grid-template-columns: 1fr;
  }
  .overview-stats-list {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0px;
    row-gap: 10px;
  }
}
